code/cpih/src/main/java/com/citi/cpih/ws/client/soap/AccesoSeguroPAC_schema1.xsd

<!-- Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-02/12/2016 11:10:24 PM foreman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.wspac.crm.sds.telcel.com.mx/" version="1.0" targetNamespace="http://servicios.wspac.crm.sds.telcel.com.mx/">
<xs:element name="Exception" type="tns:Exception"/>
<xs:element name="validaToken" type="tns:validaToken"/>
<xs:element name="validaTokenResponse" type="tns:validaTokenResponse"/>
<xs:complexType name="validaToken">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="validaTokenResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
